<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner" ng-hide="showSearchResults">
  <div class="container">
    <h1>Swappe!</h1>
    <p class="lead">Wear your friends' clothes</p>
    <a href="http://yeoman.io/" target="_blank">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    </a>
  </div>
</header>

<div class="container main">

  <div ng-show="isLoggedIn()">
    <a ui-sref="additem" class="btn btn-primary full-width add">
      Add Clothes
    </a>
  </div>

  <div>
    <form id="searchform" ng-submit="search()">
      <input placeholder="Search for clothes in your network" ng-model="searchTerms">
    </form>
  </div>

  <div ng-show="showSearchResults">
    <ul id="homenav">
      <li ng-hide="searchArticles">Nothing matches that criteria...</li>
      <li ng-repeat="article in searchArticles">
        <a ui-sref="itemdetail({ articleId: article._id.toString() })">{{ article.name }}</a>
        from <a ui-sref="userdetail({ userId: article.owner._id.toString() })">{{ article.owner.name }}</a>
      </li>
    </ul>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>